.bvs-short {
    padding: 1rem;
    background-color: var(--lightest);
    border-bottom: 1px solid var(--grey-light);
    transition: background-color 0.15s;
    cursor: pointer;

    &:hover {
        background-color: var(--grey-light);
    }

    &.selected {
        box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.3);
    }
}

.label {
    font-size: 0.75rem;
}
