// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

body {
    --link-color: #fff;
    --link-color-active: #7e89a5;
    --contrast: #fff;
    --red-light: #f8c4c6;
}
