// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

body {
    // цветовая схема
    --red-ultralight: #ffeaeb;
    --red-light: #f8c4c6;
    --red-medium: #f1898e;
    --red: #e73a42;
    --blue-ultralight: #ebf6ff;
    --blue-light: #c8e7ff;
    --blue-medium: #409bff;
    --blue: #0870e2;
    --green-ultralight: #e1f3ea;
    --green-light: #b3d8c5;
    --green-medium: #66b28a;
    --green: #007e3c;
    --grey-ultralight: #eef2fd;
    --grey-light: #dfe6fa;
    --grey-medium: #aab3cb;
    --grey: #7e89a5;
    --yellow-ultralight: #fff9e0;
    --yellow-light: #fff1b8;
    --yellow-medium: #ffe370;
    --yellow: #ffd111;

    --lightest: #fff;
    --dark: #292e3a;
    --darkest: #000;
    --cooper: #b18a4b;
    --link-color: #fff;
    --link-color-active: var(--grey);
    --contrast: #fff;

    // тайминги для анимаций
    --fast: 0.15s;
    --slow: 0.6s;

    // скругления
    --brs: 0.5rem;
    --brs-small: 0.25rem;
    --brs-lg: 1rem;
    --brs-max: 9999rem;

    // отступы
    --gap-x: 1rem;
    --gap-y: 0.5rem;

    // размер текста
    --text-small: 0.75rem;
    --text-regular: 1rem;
    --text-large: 1.25rem;
}
