@use "sass:map";
.rating2,
.rating4,
.rating3 {
    margin-top: 0.5rem;
}

.rating-row {
    padding: 0.25rem 1rem;
    border-radius: var(--brs);
    background-color: var(--lightest);
    border: 2px solid var(--lightest);
    transition: background-color var(--fast);

    &__number-cell {
        width: 1.5rem;
        min-width: 1.5rem;
    }

    &:hover {
        background-color: var(--grey-lightest);
    }

    .fa-star {
        color: var(--green-medium);
    }

    $colors: var(--yellow), var(--grey), var(--cooper);

    @each $color in $colors {
        &.rating#{index($colors, $color)} {
            .fa-star {
                color: $color;
            }
        }
    }
}

#public-rating {
    .rating-list {
        @media (max-width: map.get($grid-breakpoints, "md")) {
            display: none !important;
        }
    }

    .rating-nolist {
        @media (max-width: map.get($grid-breakpoints, "md")) {
            display: none !important;
        }
    }
}
