.tasks-container {
    border-radius: var(--brs);
    border: 1px solid var(--grey-light);

    &__header {
        border-bottom: 1px solid var(--grey-light);
    }
}

.border-right {
    border-right: 1px solid var(--grey-ultralight);
}

.expandable-content {
    transition: height var(--fast), display var(--fast);
}
