.bounce-enter-active {
    animation: bounce-in var(--slow);
}

.bounce-leave-to {
    opacity: 0;
    visibility: hidden;
    display: none;
}

@keyframes bounce-in {
    0% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
// *************************

.fade-leave-active {
    transition: opacity var(--fast), visibility var(--fast);
}
.fade-enter-active {
    visibility: visible;
    transition: opacity var(--slow), visibility var(--fast);
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
    visibility: hidden;
}

.sort-move {
    transition: transform var(--slow);
}
