body {
    background-image: url(../../img/bg/auth.png);
    background-size: cover;
    background-position: 50%;
}

.form-auth {
    padding: 1.5rem;
    max-width: 400px;
    background: #ffffff;
    border: 1px solid #dfe6fa;
    border-radius: 8px;
    margin: 0 auto;

    &__header {
        font-size: 1.25rem;
    }
}
