body {
    &.auth {
        #app {
            background-image: url(../img/bg/auth.png);
            background-size: cover;
            background-position: 50%;
            background-repeat: no-repeat;
        }
    }
}

.form-auth {
    padding: 1.5rem;
    max-width: 400px;
    background: #ffffff;
    border: 1px solid #dfe6fa;
    border-radius: var(--brs);
    margin: 0 auto;

    &__header {
        font-size: var(--text-large);
    }

    &__comment {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #aab3cb;
    }

    a {
        color: #66b28a;
        text-decoration: none;
        outline: 0;

        &:hover {
            text-decoration: underline;
        }
    }

    &__vseparator {
        color: #8f8e8e;

        .d-flex {
            align-items: center;
        }

        .line {
            height: 1px;
            flex-basis: 15%;
            background-color: #8f8e8e;
            opacity: 0.7;
            margin: 0 10px;
        }
    }
}
