.modal-window {
    position: fixed;
    z-index: 10000;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(102, 102, 102, 0.4);
    backdrop-filter: blur(4.5px);
    display: flex;
    align-items: center;
    justify-content: center;

    &__content {
        position: relative;
        background-color: var(--lightest);
        border-radius: var(--brs);
        position: relative;
        padding: 1em;
        width: 100%;
        max-width: 16rem;

        .btn-close {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
        }
    }
}
